#header {
    background-color: #1a1a00;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
}
#container {
    margin-left: 50px;
    margin-right: 50px;
    width: 80%;
    text-align: center;
}
#left {
    float: left;
    width: 200px;
}
#center {
    display: inline-block;
    margin: 0 auto;
    width: 200px;
}
#right {
    float: right;
    width: 200px;
}
#number {
    margin-left: 510px;
    margin-top: 10px;
    color: white;
}
#img {
    padding-left: 2px;
    padding-right: 2px;
}
#links {
    padding-left: 600px;
    padding-bottom: 20px;
    font color: white;
}
a {
    color: white;
    margin-right: 5px;
    text-decoration: none;
}
h2 {
    color: white;
}
h3 {
    color: blue;
}
#recent-post {
    float: left;
    margin: auto;
}
#img-well {
margin-right: 90%;
margin-top: 20px;
}
#img-well ul h3{
  margin-top: 10%;
}
