#main {
  background-color: #1a1a00;
  padding; 5px;
}
#number {
  margin-left: 510px;
  margin-top: 10px;
  color: white;
}

#image-pic {
  padding; 5px;
}

#links {
  padding-left: 600px;
  padding-bottom: 20px;
  font color: white;
}

a {
  color: white;
  margin-right: 5px;
  text-decoration: none;
}
