#header {
  background-color: #1a1a00;
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 15px;
}

#number {
  margin-left: 510px;
  margin-top: 10px;
  color: white;
}

#img {
  padding-left: 2px;
  padding-right: 2px;
}

#links {
  padding-left: 600px;
  padding-bottom: 20px;
  font color: white;
}

a {
  color: white;
  margin-right: 5px;
  text-decoration: none;
}

#about {
  margin-left: 100px;
  color: white;
}

#about-img {
  margin-left: 40px;
  margin-top: 20px;
}

#about h2 {
  margin-left: 100px;
}

pre {
  margin-left: -75px;
  color: white;
}

#img-well {
  height: 220px;
  width: 220px;
}

h2 {
  color: white;
}
